* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    color: white;
    font-weight: 400;
}
body {
    background-color: #676278;
}

.main-card {
    background-color: #2D2638;
    width: 900px;
    height: 500px;
    margin:80px auto;
    border-radius: 10px;
    box-shadow: 0 20px 50px rgb(45, 43, 43);
    display:flex;
    padding:20px;
}

.img-section {
    background-image: url('./assets/bg-img.jpg');
    background-size: cover;
    flex: 1;
    border-radius: 8px;
    height: 100%;
    padding: 20px auto;
    position:relative;
}

img {
    height: 14px;
}

#back-btn {
  background-color: rgba(224, 215, 215, 0.3);
  border: none;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 50;
  position: absolute;
  top: 20px;
  left: 180px;
}

#img-text{
    position: absolute;
    bottom: 30px;
    left: 60px;
    font-size: 20px;

}

.reg-form {
    flex: 1;
    padding:60px;
}
.reg-form form {
    height: 100%;
}

#inner-reg {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    margin-left: 30px;
}

h2 {
    font-size: 35px;
    font-weight: 300;
}

#button-div{
    display:flex;
}

#google, #apple {
    flex: 1;
    padding: 10px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 6px;
    cursor: pointer;
    margin: 10px;
    display: flex;          
    align-items: center;        
    justify-content: center; 
}

#create-btn {
    background-color:#6D55B7;
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    padding: 10px;
    margin:10px
}

.divider {
    text-align:center;
    margin:10px;
}

a {
    color:rgb(88, 45, 110)
}

.name-row {
    display: flex;
    gap: 12px;       
    width: 100%;
}

#email-pword{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#one,#two{
    padding: 10px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 6px;
    cursor: pointer;
    margin: 10px;
    flex:1;
}

#three, #four{
    padding: 10px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 6px;
    cursor: pointer;
    margin: 10px;
}

      